<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina non trovata</title>
    <meta name="theme-color" content="#000000">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/404">
</head>

<body>
    <div class="main">
        <div class="glitch" data-text="404">404</div>
        <span>lA pAgInA cHe StAi CeRcAnDo Di ViSuAlIzZaRe NoN rIeSiEdE sU qUeStO sErVeR.<br>AsSiCuRaTi ChE l'uRl SiA
            cOrReTtO</span>
        <div class="return">
            <span>pRoVa A tOrNaRe AlLa </span>
            <a href="/">HOME</a>
        </div>
    </div>
</body>

</html>