* {
  margin: 0;
  padding: 0;
  font-family: "Major Mono Display";
  text-transform: capitalize;
}
body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    color: white;
    max-width: 300px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  .return {
    margin-top: 15px;
    a {
      text-decoration: none;
      font-size: 20px;
      font-family: "Major Mono Display";
      color: aquamarine;
    }
  }
}
.glitch {
  color: white;
  position: relative;
  font-size: 130px;
  font-weight: 900;
  width: auto;
  margin: 0 auto;
  &:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  &:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
}
@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
